/*
  Primary Color: #4083ba;
  Secondary Color: #add6da;
  Tertiary Color: #f5cf3e;
  */

  body {
  	background: #fff;
  }

  .box {
  	position: relative;
  	margin: auto;
  	display: block;
  	margin-top: 2%;
  	width: 300px;
  	height: 400px;
  }

  .head {
  	position: absolute;
    top: 5.5%;
    left: 19%;
    width: 68%;
    height: 46%;
    background: #4083ba;
    border-radius: 60% 54% 57% 53%;
    border: solid 2px #000;
    z-index: 3;
  }


  .eye-feather {
    position: absolute;
    top: 32%;
    left: 27%;
    width: 52%;
    height: 70%;
    border: solid 2px #000;
    border-radius: 71px 58px 20px 77px;
    transform: rotate(-41deg);
    background: #ffffff;
    z-index: 5;
  }

  .eye {
  	position: absolute;
    top: 52.5%;
    left: 48%;
    width: 14%;
    height: 27%;
    border: solid 2px #000;
    border-radius: 61px / 100px;
    transform: rotate(-9deg);
    background: rgb(46,63,107);
    background: linear-gradient(43deg, rgba(46,63,107,1) 0%, rgba(44,84,145,1) 17%, rgba(47,83,141,0.67) 100%);
    z-index: 6;
  }

  .pupil {
  	position: absolute;
    top: 28.5%;
    left: 24%;
    width: 43%;
    height: 48%;
    border-radius: 61px / 100px;
    background: #080705;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(31,33,56,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(31,33,56,1);
    box-shadow: 0px 0px 3px 0px rgba(31,33,56,1);
  }

  .eye-shadow-upper {
  	position: absolute;
    top: 1.5%;
    left: 23%;
    width: 39%;
    height: 41%;
    border: solid 1px #7e98b9;
    border-radius: 61px / 100px;
    background: #fff;
  }

  .eye-shadow-bottom {
  	position: absolute;
    top: 80%;
    left: 46%;
    width: 45%;
    height: 14%;
    border-radius: 50%;
    background: rgb(71,114,167);
    background: radial-gradient(circle, rgba(71,114,167,1) 0%, rgba(51,98,154,0.72) 74%);
    transform: rotate(-51deg);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(71,114,167,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(71,114,167,1);
    box-shadow: 0px 0px 3px 0px rgba(71,114,167,1);
  }

  .beak-upper {
  	position: absolute;
  	top: 56.5%;
  	left: 84%;
  	width: 17%;
  	height: 22%;
  	-webkit-border-radius: 50%/60% 60% 40% 40%;
  	-moz-border-radius: 50%/60% 60% 40% 40%;
  	border-radius: 50%/60% 60% 40% 40%;
  	background: rgb(192,170,59);
  	background: linear-gradient(66deg, rgba(192,170,59,1) 0%, rgba(245,207,62,1) 35%, rgba(255,255,255,1) 100%);
  	border: solid 2px #000;
  	z-index: 6;
  }

  .beak-bottom {
  	position: absolute;
  	top: 60.5%;
  	left: 84%;
  	width: 15%;
  	height: 21%;
  	-webkit-border-radius: 83% 88% 106% 75%;
  	-moz-border-radius: 83% 88% 106% 75%;
  	border-radius: 83% 88% 106% 75%;
  	border: solid 1px #000;
  	background: #c0aa3b;
  	z-index: 5;
  }

  .mouth-feather {

  }

  

  .upper-feather-front-right {
    position: absolute;
    top: 47.5%;
    left: 63%;
    width: 14%;
    height: 14%;
    -webkit-border-radius: 50%/60% 60% 40% 40%;
    -moz-border-radius: 50%/60% 60% 40% 40%;
    border-radius: 50%/60% 60% 40% 40%;
    border: solid 2px #000;
    background: #4083ba;
    transform: rotate(-233deg);
    z-index: 1;
  }

  .upper-feather-front-left {
    position: absolute;
    top: 43.5%;
    left: 39%;
    width: 22%;
    height: 22%;
    -webkit-border-radius: 50%/60% 60% 40% 40%;
    -moz-border-radius: 50%/60% 60% 40% 40%;
    border-radius: 50%/60% 60% 40% 40%;
    border: solid 2px #000;
    background: #4083ba;
    transform: rotate(-47deg);
    z-index: 2;
  }

  .upper-feather-front-left-masking {
    position: absolute;
    top: 44.5%;
    left: 35.5%;
    width: 31%;
    height: 13%;
    -webkit-border-radius: 50%/60% 60% 40% 40%;
    -moz-border-radius: 50%/60% 60% 40% 40%;
    border-radius: 50%/60% 60% 40% 40%;
    border: none;
    background: #4083ba;
    transform: rotate(21deg);
    z-index: 2;
  }

  .upper-feather-front-back {
    position: absolute;
    top: 45%;
    left: 20%;
    width: 16%;
    height: 26%;
    -webkit-border-radius: 50%/60% 64% 42% 46%;
    -moz-border-radius: 50%/60% 64% 42% 46%;
    border-radius: 50%/60% 64% 42% 46%;
    border: solid 2px #000;
    background: #4083ba;
    transform: rotate(-125deg);
    z-index: 0;
  }

  .upper-feather-front-back-masking {
    position: absolute;
    top: 54%;
    left: 17%;
    width: 8%;
    height: 4%;
    -webkit-border-radius: 50%/60% 64% 42% 46%;
    -moz-border-radius: 50%/60% 64% 42% 46%;
    border-radius: 50%/60% 64% 42% 46%;
    background: #4083ba;
    transform: rotate(-45deg);
    z-index: 1;
  }

  .upper-feather-tail-right {
    position: absolute;
    top: 48%;
    left: 20%;
    width: 5%;
    height: 10%;
    -webkit-border-radius: 50%/60% 64% 42% 46%;
    -moz-border-radius: 50%/60% 64% 42% 46%;
    border-radius: 50%/60% 64% 42% 46%;
    border: solid 2px #000;
    background: #4083ba;
    transform: rotate(-32deg);
    z-index: -1;
  }

  .upper-feather-tail-left {
    position: absolute;
    top: 46%;
    left: 13%;
    width: 7%;
    height: 17%;
    -webkit-border-radius: 50%/60% 64% 42% 46%;
    -moz-border-radius: 50%/60% 64% 42% 46%;
    border-radius: 50%/60% 64% 42% 46%;
    border: solid 2px #000;
    background: #4083ba;
    transform: rotate(-32deg);
    z-index: -1;
  }

  .button-left {
    position: absolute;
    top: 62.5%;
    left: 51%;
    width: 9%;
    height: 9%;
    -webkit-border-radius: 50%/50% 50% 50% 50%;
    -moz-border-radius: 50%/50% 50% 50% 50%;
    border-radius: 50%/50% 50% 50% 50%;
    border: solid 2px #000;
    transform: rotate(19deg);
    background: #fff;
    z-index: 1;
  }

  .button-right {
    position: absolute;
    top: 61.8%;
    left: 68.3%;
    width: 3%;
    height: 8%;
    -webkit-border-radius: 50%/50% 50% 50% 50%;
    -moz-border-radius: 50%/50% 50% 50% 50%;
    border-radius: 50%/50% 50% 50% 50%;
    border: solid 2px #000;
    transform: rotate(2deg);
    background: #fff;
    z-index: 1;
  }


  .main-body {
    position: absolute;
    top: 51%;
    left: 21.5%;
    width: 49%;
    height: 32%;
    background: #add6da;
    border-radius: 116% 90% 94% 86%;
    border: solid 2px #000;
    z-index: 0;
  }

  .main-body-left-foot {
    position: absolute;
    top: 79.3%;
    left: 30%;
    width: 16%;
    height: 5%;
    border-radius: 65% 75% 170% 143%;
    border: solid 2px #000;
    transform: rotate(17deg);
    background: #add6da;
    z-index: 0;
  }

  .left-wing {
    position: absolute;
    top: 54.5%;
    left: 30%;
    width: 18%;
    height: 26%;
    -webkit-border-radius: 62% 84% 64% 62%;
    -moz-border-radius: 62% 84% 64% 62%;
    border-radius: 62% 84% 64% 62%;
    border: solid 2px #000;
    transform: rotate(197deg);
    background: #add6da;
    z-index: 0;
  }